.button {
  display: inline-block;
  font-family: "Oswald", "Arial", sans-serif;
  border: 0;
  background-color: $green;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 11px 52px 11px 52px;
}
