.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-Regular;
  border: 0;
  background-color: $green;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 40px;
  width: 100%;
  text-decoration: none;
  padding: 0;

  @include tablet {
    font-size: 16px;

    &--catalog {
      width: calc(100% - 74px);
      margin-bottom: 40px;
    }

    &--form {
      width: 283px;
      margin-right: 61px;
      height: 52px;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.button--grey {
  background-color: $grey;
  color: #444444;
}


.burger-button {
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  margin: auto 0;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.burger-button::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  margin: auto 0;
}

.burger-button::after {
  position: absolute;
  top: -7px;
  left: 0;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: black;
  margin: auto 0;
}
