.catalog-list {
  border-top: $greyBorder;
}

.catalog-list,
.product__description-list,
.product__property-list,
.product__description {
  padding: 0;
  list-style: none;
}

.catalog-list__product {
  display: flex;
  flex-wrap: wrap;
}
