.catalog {
  @include tablet {
    margin-bottom: 71px;
  }
}

.catalog-list {
  margin: 0;
  border-top: $greyBorder;
  list-style: none;
  padding: 0;
  padding-bottom: 25px;

  @include tablet {
    border-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 96px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
