.modes-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}

.modes-list__wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.modes-list__item {
  background-color: $grey;
  margin-bottom: 20px;
  padding: 0 20px;
  padding-bottom: 20px;

  @include tablet {
    padding: 0;
    padding-left: 55px;
    min-height: 372px;
  }
}

.modes-list__item:last-child {
  margin-bottom: 0;
}

.modes-list__img--cat-sit {
  z-index: 1;
  position: relative;
  top: 22px;
  left: 10px;

  @include tablet {
    top: 0;
    left: 0;
    height: 191px;
    width: 141px;
  }
}

.modes-list__img--cat-walks {
  z-index: 1;
  position: relative;
  top: 35px;
  left: -7px;

  @include tablet {
    top: 0;
    left: 0;
    width: 268px;
    height: 113px;
  }
}

.modes-list__item-title {
  font-family: $font-Regular;
  font-size: 24px;
  line-height: 37px;
  margin-top: 30px;
  margin-left: 71px;
  text-transform: uppercase;
  font-weight: normal;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-top: 81px;
    margin-bottom: 26px;
  }
}

.modes-list__img-wrapper {
  position: absolute;

  &::before {
    position: absolute;
    box-sizing: inherit;
    content: "";
    display: block;
    top: 24px;
    left: 0;
    width: 50px;
    height: 51px;
    background-color: $green;
    border-radius: 50%;

    @include tablet {
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 200px;
    }
  }

  @include tablet {
    top: 90px;
    right: 30px;
    width: 268px;
    height: 194px;
    text-align: center;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modes-list__img-wrapper--cat-walks {
  &::before {
    @include tablet {
      top: 0;
      left: 50%;
    }
  }
}

.modes-list__item-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: $greyBorder;
  padding-bottom: 23px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    max-width: 372px;
    border: 0;
    margin-top: 0;
    margin-bottom: 61px;
    padding-bottom: 0;
  }
}

.modes-list__item-text--cat-walks {
  @include tablet {
    max-width: 341px;
  }
}

.modes-list__item-link {
  position: relative;
  font-family: $font-Regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $lightBlack;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.modes-list__item-link::before {
  position: absolute;
  box-sizing: inherit;
  content: "";
  display: block;
  top: 10px;
  right: -32px;
  width: 20px;
  height: 2px;
  background-color: $lightBlack;

  @include tablet {
    top: 14px;
    height: 3px;
  }
}

.modes-list__item-link::after {
  position: absolute;
  box-sizing: inherit;
  content: "";
  display: block;
  top: 5.5px;
  right: -40px;
  border: 5px solid transparent;
  border-left: 6px solid $lightBlack;

  @include tablet {
    top: 9.5px;
  }
}
