.show-other {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 25px;
  border-bottom: $greyBorder;
  margin-bottom: 20px;
}

.show-other__show-more-button {
  position: relative;
  border: 0;
  display: block;
  width: 31px;
  height: 2px;
  background-color: $grey;
  margin-bottom: 40px;
}

.show-other__show-more-button::before {
  position: absolute;
  top: -14px;
  left: 15.5px;
  content: "";
  border: 0;
  display: block;
  width: 2px;
  height: 31px;
  background-color: $grey;
}

.show-other__title {
  font-family: $font-Regular;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 11px;
  margin-top: 0;
}

.show-other__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 22px;
}
